<div class="calendar">
  <div class="tuesday">
    <table class="w-100 vh-100">
      <thead>
        <tr>
          <th></th>
          <th>Court 1</th>
          <th>Court 2</th>
          <th>Court 3</th>
          <th>Court 4</th>
          <th>Court 5</th>
        </tr>
      </thead>
      <tbody>
        <tr class="short-lesson">
          <td>9H</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 09:00"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 09:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 09:00"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 09:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 09:00"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 09:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 09:00"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 09:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 09:00"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 09:00"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="short-lesson">
          <td>9H45</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 09:45"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 09:45"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 09:45"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 09:45"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 09:45"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 09:45"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 09:45"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 09:45"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 09:45"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 09:45"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="short-lesson">
          <td>10H30</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 10:30"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 10:30"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 10:30"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 10:30"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 10:30"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 10:30"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 10:30"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 10:30"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 10:30"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 10:30"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="short-lesson">
          <td>11H15</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 11:15"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 11:15"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 11:15"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 11:15"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 11:15"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 11:15"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 11:15"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 11:15"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 11:15"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 11:15"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="short-lesson">
          <td>12H</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 12:00"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 12:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 12:00"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 12:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 12:00"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 12:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 12:00"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 12:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 12:00"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 12:00"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="short-lesson">
          <td>12H45</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 12h45"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 12h45"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 12h45"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 12h45"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 12h45"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 12h45"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 12h45"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 12h45"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 12h45"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 12h45"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="short-lesson">
          <td>13H30</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 13:30"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 13:30"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 13:30"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 13:30"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 13:30"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 13:30"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 13:30"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 13:30"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 13:30"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 13:30"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="short-lesson">
          <td>14H15</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 14:15"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 14:15"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 14:15"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 14:15"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 14:15"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 14:15"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 14:15"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 14:15"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 14:15"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 14:15"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="short-lesson">
          <td>15H</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 15:00"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 15:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 15:00"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 15:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 15:00"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 15:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 15:00"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 15:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 15:00"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 15:00"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="short-lesson">
          <td>15H45</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 15:45"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 15:45"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 15:45"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 15:45"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 15:45"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 15:45"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 15:45"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 15:45"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 15:45"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 15:45"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="short-lesson">
          <td>16H30</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 16:30"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 16:30"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 16:30"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 16:30"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 16:30"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 16:30"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 16:30"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 16:30"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 16:30"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 16:30"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="short-lesson">
          <td>17H15</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 17:15"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 17:15"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 17:15"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 17:15"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 17:15"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 17:15"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 17:15"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 17:15"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 17:15"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 17:15"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="long-lesson">
          <td>18H</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 18:00"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 18:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 18:00"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 18:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 18:00"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 18:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 18:00"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 18:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 18:00"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 18:00"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="long-lesson">
          <td>19H</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 19:00"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 19:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 19:00"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 19:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 19:00"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 19:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 19:00"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 19:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 19:00"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 19:00"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr class="long-lesson">
          <td>20H</td>
          <td>
            <% if Lesson.where({court: 1, start_time: "1996-01-02 20:00"})[0].present? %>
              <%=  Lesson.where({court: 1, start_time: "1996-01-02 20:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 2, start_time: "1996-01-02 20:00"})[0].present? %>
              <%=  Lesson.where({court: 2, start_time: "1996-01-02 20:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 3, start_time: "1996-01-02 20:00"})[0].present? %>
              <%=  Lesson.where({court: 3, start_time: "1996-01-02 20:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 4, start_time: "1996-01-02 20:00"})[0].present? %>
              <%=  Lesson.where({court: 4, start_time: "1996-01-02 20:00"})[0].teacher.nickname %>
            <% end %>
          </td>
          <td>
            <% if Lesson.where({court: 5, start_time: "1996-01-02 20:00"})[0].present? %>
              <%=  Lesson.where({court: 5, start_time: "1996-01-02 20:00"})[0].teacher.nickname %>
            <% end %>
          </td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="students-list">
<h1>Elèves:</h1>
  <div class="search">
    <%= form_tag students_path, method: :get, novalidate: "novalidate", class: "simple_form search"  do %>
      <div id="search_div" data-students="<%= Student.all.to_json %>">
        <%= text_field_tag :query,
            params[:query],
            id: "search_query",
            placeholder: "Chercher un élève",
            value: ""
        %>
      </div>
      <% if @students.count > 1 %>
        <%= select_tag :level, options_for_select(@levels), multiple: true %>
        <%= select_tag :age, options_for_select(@ages), multiple: true %>
      <% end %>
      <%= button_tag(type: "submit", class: "btn btn-flat") do %>
        <i class="fas fa-search"></i> Filtrer
      <% end %>
    <% end %>
    <%= link_to "X Reset", students_path, class: "text-decoration-none text-reset" %>
  </div>

  <ul>
    <% @students.each do |student| %>
    <li><%= student.last_name %> <%= student.first_name %> <%= student.age %>ans <%= student.level? %></li>
    <% end %>
  </ul>
</div>
